.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
    scroll-behavior: smooth;
  }

  .carousel img {
    scroll-snap-align: center;
    width: 100%;
    height: auto;
  }